@import "variables";
@import "~tachyons-sass/scss/variables";
@import "~tachyons-sass/scss/normalize";

//  Debugging
@import "~tachyons-sass/scss/debug-children";
@import "~tachyons-sass/scss/debug-grid";

//  Uncomment out the line below to help debug layout issues
// @import "~tachyons-sass/scss/debug";

//  Modules
@import "~tachyons-sass/scss/box-sizing";
@import "~tachyons-sass/scss/aspect-ratios";
@import "~tachyons-sass/scss/images";
@import "~tachyons-sass/scss/background-size";
@import "~tachyons-sass/scss/background-position";
@import "~tachyons-sass/scss/outlines";
@import "~tachyons-sass/scss/borders";
@import "~tachyons-sass/scss/border-colors";
@import "~tachyons-sass/scss/border-radius";
@import "~tachyons-sass/scss/border-style";
@import "~tachyons-sass/scss/border-widths";
@import "~tachyons-sass/scss/box-shadow";
@import "~tachyons-sass/scss/code";
@import "~tachyons-sass/scss/coordinates";
@import "~tachyons-sass/scss/clears";
@import "~tachyons-sass/scss/display";
@import "~tachyons-sass/scss/flexbox";
@import "~tachyons-sass/scss/floats";
@import "~tachyons-sass/scss/font-family";
@import "~tachyons-sass/scss/font-style";
@import "~tachyons-sass/scss/font-weight";
@import "~tachyons-sass/scss/forms";
@import "~tachyons-sass/scss/heights";
@import "~tachyons-sass/scss/letter-spacing";
@import "~tachyons-sass/scss/line-height";
@import "~tachyons-sass/scss/links";
@import "~tachyons-sass/scss/lists";
@import "~tachyons-sass/scss/max-widths";
@import "~tachyons-sass/scss/widths";
@import "~tachyons-sass/scss/overflow";
@import "~tachyons-sass/scss/position";
@import "~tachyons-sass/scss/opacity";
@import "~tachyons-sass/scss/rotations";
@import "~tachyons-sass/scss/skins";
@import "~tachyons-sass/scss/skins-pseudo";
@import "~tachyons-sass/scss/spacing";
@import "~tachyons-sass/scss/negative-margins";
@import "~tachyons-sass/scss/tables";
@import "~tachyons-sass/scss/text-decoration";
@import "~tachyons-sass/scss/text-align";
@import "~tachyons-sass/scss/text-transform";
@import "~tachyons-sass/scss/type-scale";
@import "~tachyons-sass/scss/typography";
@import "~tachyons-sass/scss/utilities";
@import "~tachyons-sass/scss/visibility";
@import "~tachyons-sass/scss/white-space";
@import "~tachyons-sass/scss/vertical-align";
@import "~tachyons-sass/scss/hovers";
@import "~tachyons-sass/scss/z-index";
@import "~tachyons-sass/scss/nested";
@import "~tachyons-sass/scss/styles";

// Fix specifity issue with display: flex
@media #{$breakpoint-not-small} {
  .dn-ns {
    display: none;
  }

  .di-ns {
    display: inline;
  }

  .db-ns {
    display: block;
  }

  .dib-ns {
    display: inline-block;
  }

  .dit-ns {
    display: inline-table;
  }

  .dt-ns {
    display: table;
  }

  .dtc-ns {
    display: table-cell;
  }

  .dt-row-ns {
    display: table-row;
  }

  .dt-row-group-ns {
    display: table-row-group;
  }

  .dt-column-ns {
    display: table-column;
  }

  .dt-column-group-ns {
    display: table-column-group;
  }

  .dt--fixed-ns {
    table-layout: fixed;
    width: 100%;
  }
}

@media #{$breakpoint-medium} {
  .dn-m {
    display: none;
  }

  .di-m {
    display: inline;
  }

  .db-m {
    display: block;
  }

  .dib-m {
    display: inline-block;
  }

  .dit-m {
    display: inline-table;
  }

  .dt-m {
    display: table;
  }

  .dtc-m {
    display: table-cell;
  }

  .dt-row-m {
    display: table-row;
  }

  .dt-row-group-m {
    display: table-row-group;
  }

  .dt-column-m {
    display: table-column;
  }

  .dt-column-group-m {
    display: table-column-group;
  }

  .dt--fixed-m {
    table-layout: fixed;
    width: 100%;
  }
}

@media #{$breakpoint-large} {
  .dn-l {
    display: none;
  }

  .di-l {
    display: inline;
  }

  .db-l {
    display: block;
  }

  .dib-l {
    display: inline-block;
  }

  .dit-l {
    display: inline-table;
  }

  .dt-l {
    display: table;
  }

  .dtc-l {
    display: table-cell;
  }

  .dt-row-l {
    display: table-row;
  }

  .dt-row-group-l {
    display: table-row-group;
  }

  .dt-column-l {
    display: table-column;
  }

  .dt-column-group-l {
    display: table-column-group;
  }

  .dt--fixed-l {
    table-layout: fixed;
    width: 100%;
  }
}
